/* Add some margin to the page and set a default font and colour */
 
 * { box-sizing: border-box; }

html, body {height: 100%} 

body {
  margin: 0;
  font-family: "Georgia", serif;
  line-height: 1.8em;
  color: #333;
}

/* Give headings their own font */

h1, h2, h3, h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Main content area */

#content {
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
}

/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: #666;
  font-size: 1.5em;
}

/* Columns */
.column-left{ float: left; width: 15%; height: 100%; }
.column-right{ float: right; width: 25%; height: 100%; }
.column-centre{ display: inline-block; width: 59%; height: 100%; }

#networkLayout, #deviceToolbox, #infoPane {
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

#networkLayout {
  background: #ddf;
}

#deviceToolbox {
  background: #ffd;
}

#infoPane {
  background: #aac;
}

#networkLayout div, #deviceToolbox div {
  float: left;
  width: calc(50% - 20px);
  height: 78px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  background: #fff;
}

#deviceToolbox div.hovered {
  background: #aaa;
}

#deviceToolbox div {
  border-style: dashed;
}

#networkLayout div {
  background: #666;
  color: #fff;
  font-size: 15px;
  text-shadow: 0 0 3px #000;
  width: 100px;
  height: 100px;
}

#networkLayout div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

#networkLayout div.metal {
 height: 50%;
 width: 200px;
 overflow: auto;
}

/* Wizard */
.wizard > .content {
  color: #000;
}

label {
  display: inline-block;
  width: 45%;
  text-align: right;
  vertical-align: center;
}
fieldset div {
  margin-bottom: 2em;
}
fieldset .help {
  display: inline-block;
}
.ui-tooltip {
  width: 210px;
}

/*
.wizard > .content {
  height: 80%;
}
*/
.wizard > .content > .body input {
  display: inline-block;
}